body{
  
    background-color: #EFEFEF;
    margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: auto;
  }

  .hero-section{
      height: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%;

     
  }
  
  .hero-section ul{
      height: 50px;
      margin: 52px 10px;
      list-style: none;
      color: white;
      display: flex;
      
    
  }
  .hero-section ul li{
  margin: 0 20px;
  
  }
  
  .hero-section img{
      width: 200px;
      height: 100px;
      margin: 5px 40px;
  }
  
  
  
  .hero-section i{
      color: white;
      margin: 50px 50px;
  }

  .hero-section{
    min-height: 400px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/844813/pexels-photo-844813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
  }

  .brand-story{
    display: flex;
    justify-content: space-evenly;
    background-color: #EFEFEF;
  }

  
  
  .brand-story p{
   max-width: 400px;
   font-size: 30px;
   
  }
   
  .brand-story div{
    margin: 100px 0px;
  
  }
  .brand-story img{
    margin: 50px 0px;
    height:300px;
  
  }
  .brand-story span{
   font-size:34px ;
  
  }

  .brand-story button{
    border: 1px solid black;
  border-radius: 20px;
  font-weight: 900;
  padding: 10px 30px;
   
   }
.card-section{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content:center;
}
   .card-section .card{
    margin: 0px 10px;
   }
   .card img{
    height: 500px;
    max-width: 400px;
   }

   .card p{
    margin: 10px 20px;
    max-width: 200px;
   }

   .card h1{
    margin: 10px 20px;
    max-width: 200px;
   }

   .divider-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   }

   .divider{
    max-height:1px;
    margin: 60px 40px;
    /*width: 1240px;*/
    border: 1px solid black;
   }

   .divider-number{
    width: 100%;
   
  
   }
.first-piece{
  display: flex;
  justify-content: flex-start;
  margin: 0px 15px;

}
 #p2{
margin: -20px 400px;
}
#p1{
  margin: -20px 20px;
  }

 #p3{
    margin: -20px 400px;

  }
     
   

 

  
  
  