body{
    background-color: #EFEFEF;
    margin: 0;
  padding: 0;
  font-family: sans-serif;
  }

  .hero-section{
      height: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%;

     
  }
  
  .hero-section ul{
      height: 50px;
      margin: 52px 10px;
      list-style: none;
      color: white;
      display: flex;
      
    
  }
  .hero-section ul li{
  margin: 0 20px;
  
  }
  
  .hero-section img{
      width: 200px;
      height: 100px;
      margin: 5px 40px;
  }
  
  
  
  .hero-section i{
      color: white;
      margin: 50px 50px;
  }

  .hero-section{
    min-height: 400px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/844813/pexels-photo-844813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
  }

  .brand-story{
    display: flex;
    justify-content: space-evenly;
    background-color: #EFEFEF;
  }

  
  
  .brand-story p{
   max-width: 300px;
  }
  
  